body{
    font-size: 16px;
    font-family: 微软雅黑;
    margin: 0px;
    background: #CB4042;
}
#nav{
    z-index: 2000;
    margin: 0px 0px auto;
    height:50px;
    background:#33ff99;
}
.bar{
    width:4%;
    text-align:center;
    height: 100%;
    float: right;
}
.bar i{
    display: inline-block;
    color: black;
    margin-top: 15px;
}
.bar a{
    text-decoration:none;
    display:block;
    height: 100%;
}
.bar a:hover{
    color:white;
    background: #3399ff;
    height: 100%;
}
.context{
    background:#fff;
}
.context img{
    float: left;
    margin-top: 0.8%;
    margin-left: 1%;
    margin-right: 1%;
}
.context a{
    text-decoration:none;   /* 去除下划线 */
    display:block;
    color:black;
    text-align:center;      /* 水平居中 */
}
.context a:hover{
    color: #fff;
    background: #a5c8ff;
}
.context .top:hover{
    color: #fff;
    background: #fff415;
}
#UserInfo{
    position: fixed;
    top: 134px;
    left: 63%;
    background-color: #fff;
    width: 230px;
    height: 240px;
}
#name{
    height: 50px;
    text-align:center;
    line-height: 50px;
}
#picture-pane{
    text-align:center;
    margin:0 auto;
    width: 85px;
    height: 85px;
    top: 23%;
    overflow: hidden;

    /* 外阴影 */
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}
#checkIn{
    background-color: #fff;
    position: fixed;
    top: 380px;
    left: 63%;
    height: 50px;
    width: 230px;
}
#check-Days{
    position: absolute;
    top: 10%;
    left: 10%;
}
#rank{
    position: absolute;
    top: 50%;
    left: 10%;
}
#click{
    position: absolute;
    top: 15%;
    left: 60%;
    width: 35%;
    height: 70%;
}
.statistics{
    background-color: #fff;
    position: fixed;
    top: 450px;
    left: 63%;
    height: 120px;
    width: 230px;
}
.span_comment{
    background-color: #5a8daf;
    color: #fff;
    border-radius: 4px;
    float: right;
    position: relative;
    top: -45px;
    left: -10px;
    padding-left: 3px;
    padding-right: 3px;
}

#SendPost_Main{
    background-color: #fff;
    width: 50%;
    left: 10%;
}
#SendPost_title{
    border-bottom: #CB4042 1px solid;
    height: 70px;
}

/* id 为 search 的 input 元素的 placeholder 颜色*/
#search::-moz-placeholder { color: #33FF99; }
#search::-webkit-input-placeholder { color:#33FF99; }
#search:-ms-input-placeholder { color:#33FF99; }
#search{
    background-color: #218f53;
    color: white;
    width: 300px;
    height: 25px;
    border: 0px;
    border-radius: 20px;
    outline: none;
}
#popDiv a:hover{
    color: #fff;
    background: #a5c8ff;
    border-radius: 5px;
}
#popDiv{
    position: relative;
    z-index: 9999;
    opacity:0.9;
}